<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Waiter-Webapp</title>

  <!-- Custom styles for this template -->
  <link href="/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/narrow-jumbotron.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/signin.css" rel="stylesheet">

</head>

<div style="height:30px"></div>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a href="/"><button class="btn btn-lg btn-info" role="button">Home</button></a>
            <a href="/days"><button class="btn btn-lg btn-info" role="button">Working-Days</button></a>
            <a href="/reset"><button class="btn btn-lg btn-info" role="button">Reset</button></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Waiter Web-App</h3>
    </div>
    {{{body}}}
</body>
<div class="height:500px"></div>
</div>
<footer class="footer">
  <p style="text-align: center"> &copy; Waiters - Webapp: 2017</p>
</footer>

</html>
